#games-show {
    .img-box {
        border-radius: 25px;
        overflow: hidden;
        height: 30rem;
        // background-image: url("https://marcolanci.it/utils/placeholder.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
